.logo {
    margin: 4rem;
    margin-top: 0;
}

.Tilt {
    border-radius: 4px;
    box-shadow: 0px 0px 4px 2px rgba( 0, 0, 0, 0.2 );
    background: linear-gradient(90deg, rgba(131,96,195,1) 35%, rgba(137,224,197,1) 100%);
}

.Tilt-inner {
    padding: 2rem;
}

.Tilt-inner img {
    width: 12rem;
}